---
const { title } = Astro.props;
const props = Astro.props
import { Icon } from 'astro-icon/components';
const items =[
	{
		icon:"",
		name:"producto 1"
	},
	{
		icon:"",
		name:"producto 2"
	},
	{
		icon:"",
		name:"producto 3"
	}
]

---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-slate-950 h-[72px] w-full flex content-center">
			<div class="p-4 h-12 flex items-center mt-3 ml-[165px]">
				<img class="h-[64px] w-[208px]" src="../../public/aliecopy.webp" alt="">
				<div class=" flex items-center relative mx-8 w-[650px]">
					<input class="flex items-center rounded-full pl-4 outline-none pr-15 h-9 w-[1050px]" type="text" placeholder="Buscar...">
					<div class="bg-slate-950 inline-block right-2 top-[2px] text-white rounded-2xl py-1 px-2 absolute"><Icon name="mdi:search" class="size-6"/></div>
				</div>
			</div>
			<div class="h-12 flex items-center mt-3 mx-4">
						<div class="flex cursor-pointer">
						<div class="flex items-center content-center w-[150px]">
						<img class="text-white size-10"src="../../public/qri.svg" alt="">
						<p class="text-xs  text-white flex items-center content-center">Descarga la app de Aliexpress</p>
						</div>
					</div>
			</div>
			<div class="flex items-center mx-4">
				<div class="flex items-center content-center cursor-pointer">
					<Icon name="circle-flags:co" class="size-6" />
					<p class="text-white text-xs ml-2">ES<br>/COP</p>
				</div>
			</div>
			<div class="flex items-center mx-4">
				<div class="flex items-center content-center cursor-pointer">
					<Icon name="prime:user" class="text-white size-10"/>
					<p class="text-white text-xs">¡Bienvenido<br><span class="font-black">Identificate / Registrate</span></p>
				</div>
			</div>
			<div class="flex items-center mx-4">
				<div class="grid grid-rows-1 grid-cols-2 cursor-pointer">
					<Icon name="icon-park-outline:shopping" class="text-white size-8 row-span-3 mt-2"/>
					<div class="bg-white text-center rounded-2xl w-[36px] h-[20px] mt-[5px] ml-[5px]">
						<div class="justify-center items-center "><span class=" font-black text-center text-xs ">0</span></div>
						
					</div>
					<p class="text-white text-xs text-center ml-[5px] mt-1 font-black">Cesta</p>
				</div>
			</div>
		</div>
		<nav class="bg-slate-950 h-[60px] w-full">
			<div class="flex justify-center items-center">
				<ul class="flex text-white gap-8 mt-3 font-medium">
					<div class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer border-slate-400 border-solid border-2 flex">
						<img class="mr-1.5" src="../../public/menu.svg" alt="">
						<span class="">Todas las categorias</span>
					</div>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">NN</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Superventas</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Mejores Marcas</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Hogar y jardin</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Cabello y Pelucas</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Moda Hombres</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Accesorios</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Electronica</li>
					<li class="hover:bg-slate-800 rounded-2xl p-1 cursor-pointer">Mas</li>
				</ul>
			</div>
		</nav>
		<div class="flex justify-center">
			<img src="../../public/Sf3af48b690394a6ba6ba44f02b4eca37M.png_.webp" alt="" class="h-[84.2px]">
		</div>
		<section class="">
			<div class="grid grid-cols-3 mt-6 justify-items-center gap-2 m-0">
			<div class="col-span-1 grid ">
					<div class=" bg-zinc-200 rounded-2xl mt-4 p-4">
						<div id="sign" class="gap-2 p-4">
							<button class="bg-black text-white p-4 font-bold rounded-3xl ">Registrate</button>
							<button class="bg-white text-black p-4 font-bold rounded-3xl border-solid border-2 border-black ">Entrar</button>
						</div>
						<span class="flex text-center justify-center text-xs">O continua con</span>
						<div id="social" class="flex justify-center mt-4">
							<a href=""><Icon name="logos:facebook" class="mr-2 size-6"/></a>
							<a href=""><Icon name="logos:google-icon" class="mr-2 size-6"/></a>
							<a href="" ><Icon name="logos:twitter" class="mr-2 size-6" /></a>
							<a href="" ><Icon name="logos:apple" class="mr-2 size-6"/></a>
						</div>
					</div>
					<div class=" bg-orange-100 rounded-2xl mt-4">
						<div class="p-4">
							<span class="text-[#fd384f] font-bold text-2xl">Oferta De Bienvenida</span>
							<p class="text-lg">Tu precio exclusivo</p>
						</div>
						<div class="max-w[232px] max-h-[232px] flex justify-center items-center">
							<img src="../../public/prueb.webp" alt="" class="p-6 w-[232px] h-[232px] flex justify-center items-center">
						</div>
					</div>
			</div>
			<div class="col-span-1">
				<div class="bg-amber-100 rounded-2xl mt-4 p-4 ">
					<div>
						<span class="text-[#fd384f] font-bold text-2xl">3 desde <span class="text-black font-bold text-2xl">4,09$ US</span></span>
						<p class="text-lg">Envio Gratis</p>
					</div>
					<div class="grid grid-cols-2  bg-white rounded-2xl mt-2 gap-4 items-center p-2 py-10 ">
						<div >
							<img src="../../public/pueb.webp" alt="" class="w-[224px] h-[224px] rounded-xl">
							<div class="flex">
								<div class="flex"><span class="text-[#fd384f] font-bold text-xs">cop<span class="text-[#fd384f] font-bold text-2xl">26,09$ US</span></span>
								</div>
								<div class="flex justify-center items-center relative mb-4 w-[100px] h-[82px] bg-[url('../../public/reb.webp')] bg-no-repeat bg-cover">
									<span class="absolute font-bold text-white justify-center items-center mr-[16px] text-[36px]">76</span>
								</div>
								
							</div>
						</div>
						<div class="grid grid-rows-2 bg-white rounded-2xl gap-4 justify-center">
							<div>
								<img src="../../public/pu1.webp" alt="" class="w-[127px] h-[131px] rounded-xl">
								<span class="text-[#fd384f] font-bold text-xs">cop<span class="text-[#fd384f] font-bold text-2xl">16,83$ US</span></span>
							</div>
							<div>
								<img src="../../public/pu1.webp" alt="" class="w-[127px] h-[131px] rounded-xl">
								<span class="text-[#fd384f] font-bold text-xs">cop<span class="text-[#fd384f] font-bold text-2xl">10,99$ US</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-span-1 h-full grid">
				<div class=" bg-zinc-200 rounded-2xl mt-4 p-4">
				<span class="font-bold text-3xl italic ">Super<span class="text-[#fd384f] font-bold text-3xl italic">Ofertas</span></span>
				<p>Productos top a precios increibles</p>
				<div class="grid grid-cols-3 p-2 mt-[18px] gap-6">
					<div>
						<img src="../../public/relo.webp" alt="" class="w-[127px] h-[131px] rounded-xl">
						<span class="text-[#fd384f] font-bold text-xs">cop<span class="text-[#fd384f] font-bold text-xl">10,99$ US</span></span>
					</div>
					<div>
						<img src="../../public/relo.webp" alt="" class="w-[127px] h-[131px] rounded-xl">
						<span class="text-[#fd384f] font-bold text-xs">cop<span class="text-[#fd384f] font-bold text-xl">10,99$ US</span></span>
					</div>
					<div>
						<img src="../../public/relo.webp" alt="" class="w-[127px] h-[131px] rounded-xl">
						<span class="text-[#fd384f] font-bold text-xs">cop<span class="text-[#fd384f] font-bold text-xl">10,99$ US</span></span>
					</div>
				</div>
				</div>
				<div class=" bg-zinc-200 rounded-2xl mt-4 p-4">
					<div class="grid grid-cols-2 p-6">
						<div class="mr-6">
							<span class="font-bold text-lg">Plus</span>
							<p>Marcas destacadas con descuento</p>
						</div>
						<div class="flex gap-4">
						<div >
							<img src="../../public/relo.webp" alt="" class="w-[117px] h-[121px] rounded-xl">
							<span class="text-black font-bold text-xs">cop<span class="text-black font-bold text-xl">10,99</span></span>
						</div>
						<div>
							<img src="../../public/relo.webp" alt="" class="w-[117px] h-[121px] rounded-xl">
							<span class="text-black font-bold text-xs">cop<span class="text-black font-bold text-xl">10,99</span></span>
						</div></div>
						
					</div>
				</div>
			</div>
		</div>
		</section>

	</body>
</html>
<style is:global>

	html,body {
		margin: 0;
		font-family: system-ui, sans-serif;
		padding: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
